* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090a;
  color: white;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px;
  position: fixed;
  width: 100%;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;

  color: #ffffff;
}

h1 {
  padding: 20px;
  position:relative;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 83px;
  color: #ffffff;
}

p2 {
  position: grid;
  width: 344px;
  height: 363px;
  left: 900px;
  top: 260px;
}

button {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #09090a;
  background-color: transparent;
  color: #09090a;
  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "PT Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

.input {
  display: grid;
  align-content: center;
  position: absolute;
  left: 179px;
  top: 30%;
}

#groupCard {
  color: #ffffff;
  background: rgba(170, 255, 0, 0.6);
  border-radius: 25px;
  text-decoration-color: rgba(170, 255, 0, 0.6);
  height: 150px;
  margin-right: 20px ;
  padding: 20px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
}

div.next {
  position: absolute;
  width: 553px;
  height: 300px;
  top: 40%; 
  padding: 20px;
  left: 68%;
}

@media (max-width: 571px) {
  button div {
    display: none;
  }
}
